name: Manual Build Deb

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dpkg
        run: brew install dpkg

      - name: Make build script executable
        run: chmod +x build.sh

      - name: Build .deb package
        run: ./build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: FDFullscreenPopGesture
          path: FDFullscreenPopGesture.deb

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'workflow_dispatch'
        with:
          files: FDFullscreenPopGesture.deb
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
